/*
 * AROMATIC TOKYO BLOOM サイトメインスタイルシート
 *
 * クラス名はBEMで命名すること。
 * http://blog.ruedap.com/2013/10/29/block-element-modifier
 * [Example]
 *   block
 *   block__element
 *   block__element--modifier
 *   block--modifier
 *   block--modifier__element
 */
//-----------
// FONT FACE
//-----------
// 游ゴシックかすれ問題対応
// http://qiita.com/RinoTsuka/items/1e7b3ca1325e704bbc41
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: normal;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

//----------
// VARIABLE
//----------
@color--base : rgb(250, 250, 250);
//@color--sub  : rgb(  0,  35,  74); // 隆介くん指定
@color--sub  : rgb(  0,  48,  92); // 実際に送られてきた資料の色

//-------
// MIXIN
//-------
.clearfix{
  &:after{
    content : "";
    clear   : both;
    display : block;
  }
}

.reset_clearfix{
  &:after{
    content : "";
    clear   : none;
    display : none;
  }
}

.underlined_image(@top; @left; @width; @height; @border_color){
  &:before{
    content    : "";
    display    : block;
    position   : relative;
    top        : @top;
    left       : @left;
    margin     : 0 auto;
    width      : @width;
    height     : @height;
    background : @border_color; /* 下線の色になる */
  }
}

.underlined_text(
  @color        : @color--base;
  @border_color : @color--base;
  @border_width : 2px;
  @left         : -4%;
  @width        : 110%;
  @top          : 1.25em;
){
  // http://neos21.hatenablog.com/entry/2016/02/08/010758
  text-decoration : none; /* 元々の下線を消す */
  display         : inline-block; /* リンクを文字列中に置くため */
  color           : @color;

  &:before{
    content    : "";
    display    : block;
    position   : relative;
    top        : @top; /* 下線になるよう適当に位置調整 */
    left       : @left; /* テキストの左端に位置させる */
    width      : @width; /* ホバー時にテキストの右端まで下線を伸ばす */
    height     : @border_width;
    background : @border_color; /* 下線の色になる */
  }
}

//-------
// STYLE
//-------
.body{
  width            : 100%;
  max-width        : 3000px;
  margin           : 0 auto;
  font-family      : "Yu Gothic", YuGothic,                          // デザイナー指定
                     "ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN", // ない場合(Mac)
                     Meiryo, "メイリオ";                             // ない場合(Windows)
  color            : @color--sub;
  line-height      : 3;
  letter-spacing   : 0.1em;
  background-color : @color--base;
}

img{
  max-width      : 100%;
  vertical-align : bottom;
}

.tw-cen-mt{
  font-family : "Tw Cen MT";
  font-weight : normal;
}

.tw-cen-mt-bold{
  font-family : "Tw Cen MT";
  font-weight : bold;
}

.header{
  .clearfix();
  padding          : 0 3%;
  height           : 68px;
  background-color : @color--sub;
}

.logo{
  float       : left;
  width       : 333px;
  height      : 52px;
  line-height : 52px;
  margin      : 8px 0 0 -17px;
  padding     : 0;
}

.nav{
  float : right;
  .clearfix();
}

.navlist{
  .clearfix();
  margin  : 0;
  padding : 0;
  float   : left;
}

.navlink{
  float      : left;
  list-style : none;
  padding    : 0;

  &--inside{
    margin      : 26px 28px 0 0;
    height      : 16px;
    line-height : 16px;
  }

  &--outside{
    margin : 8px -20px 0 6px;
    line-height : 52px;
    height : 52px;
  }
}

.navlink__a{
  color           : rgb(230, 230, 230);
  font-size       : 16px;
  letter-spacing  : 2.5px;
  text-decoration : none;
}

.smalldevice_nav{
  float    : right;
  position : relative;
}

.smalldevice_navicon{
  display    : none;
  margin-top : 10px;
  cursor     : pointer;
}

.smalldevice_navlist{
  background-color : @color--sub;
  margin           : 0;
  position         : absolute;
  top              : 53px;
  left             : -66px;
  padding          : 0;
  list-style       : none;
  display          : none;
}

.smalldevice_navlink{
  padding-left : 18px;
  width        : 100px;
}

.smalldevice_navlink__a{
  display         : block;
  color           : rgb(230, 230, 230);
  font-size       : 16px;
  text-decoration : none;
}

.eyecatch_heading{
  margin  : 0;
  padding : 0;
}

.article_heading{
  margin      : 0 0 60px;
  padding     : 0;
  font-size   : 40px;
  line-height : 1;

  &--about{
    .underlined_image(41px; 2px; 120px; 2px; @color--sub)
  }

  &--message{
    .underlined_image(45px; 1px; 160px; 2px; @color--sub)
  }

  &--service{
    .underlined_image(41px; 0; 132px; 2px; @color--sub)
  }

  &--shop{
    .underlined_image(45px; 1px; 110px; 2px; @color--sub)
  }
}

.article_heading__about{
  .underlined_text(@color--sub, @color--sub)
}

.article_heading__message{
  .underlined_text(@color--sub, @color--sub, 2px, -4%, 110%, 1.35em)
}

.article_heading__service{
  .underlined_text(@color--sub, @color--sub)
}

.article_heading__shop{
  .underlined_text(@color--sub, @color--sub, 2px, -11%, 125%, 1.35em)
}

.about{
  margin      : 185px 0;
  text-align  : center;
  font-weight : bold;
}

.about p{
  margin : 32px 0 0;
}

.message{
  background-color : rgb(234, 230, 227);
  text-align       : center;
  // .message__squareのmargin突き抜け対策
  padding          : 1px 0;
}

.message_line{
  height            : 6px;
  margin            : 0;
  padding           : 0;
  border            : none;
  background-repeat : repeat-x;

  &--top{
    background-image : url("../image/service_top.png");
  }

  &--bottom{
    background-image : url("../image/service_bottom.png");
  }
}

.message__text{
  margin  : 70px 0 0;
  padding : 0;
}

.message__square{
  margin  : 29px 2%;
  border  : 4px solid @color--sub;
  padding : 120px 0;
}

.service{
  text-align : center;
  margin     : 185px 0 0;
}

.service__text{
  font-size   : 14px;
  font-weight : bold;
  margin      : 53px 0 0;
  line-height : 2.5;
}

.service__container{
  .clearfix();
  margin : 70px auto 100px;
  width  : 1056px;
}

.servicedetail{
  font-size   : 12px;
  margin      : 0 28px 0 0;
  width       : 243px;
  height      : 388px;
  color       : rgb(255, 255, 255);
  line-height : 1.4;
  float       : left;

  &--1{
    background-color : rgb(202, 150, 100);
  }

  &--2{
    background-color : rgb(141, 158, 172);
  }

  &--3{
    background-color : rgb(116, 171, 158);
  }

  &--4{
    background-color : rgb( 90, 150, 180);
    margin : 0;
  }
}

.servicedetail__heading{
  margin         : 17px;
  line-height    : 1;
  font-size      : 20px;
  letter-spacing : 3.5px;
  .underlined_image(29px; 1px; 190px; 1px; rgb(255, 255, 255))
}

.servicedetail__text{
  margin         : 13px 19px 0;
  text-align     : left;
  letter-spacing : 1.66px;
}

.shop{
  padding          : 85px 0 200px;
  background-color : rgb(238, 240, 241);
  text-align       : center;
}

.weight_normal{
  font-weight : normal;
}

.shop__name{
  font-size      : 20px;
  margin         : 0 0 30px;
  letter-spacing : 3px;
}

.shop__text{
  font-size   : 14px;
  line-height : 2.5;
  font-weight : bold;
}

.shop__below_container{
  .clearfix();
  width  : 1082px;
  margin : 65px auto 0;
}

.googlemap{
  width  : 541px;
  height : 541px;
  float  : left;
}

.onlineshop{
}

.footer{
  background-color : @color--sub;
  text-align       : center;
  color            : rgb(230, 230, 230);
  font-family      : Helvetica, Arial;
  // .fbのmargin突き抜け対策
  padding          : 1px 0 43px;
}

.fb{
  margin : 36px 0 0;
}

.address{
  font-size   : 20px;
  line-height : 2;
  margin      : 12px 0 0;
}

.address a{
  color : rgb(92, 222, 239);
}

.address__content{
  margin-right : 16px;

  &:last-child{
    margin-right : 0;
  }
}

.copyright{
  margin      : 18px 0 0;
  line-height : 2;
}

.copyright__small{
  font-size : 12px;
}

//------------------------------
// STYLE FOR SHORT WIDTH DEVICE
//------------------------------
@media screen and (max-width : 1082px){
  .header{
    height         : auto;
    padding-bottom : 7px;
    // margin突き抜け対策
    padding-top : 1px;
  }

  .navlink--outside{
    margin-left : 0;
  }

  .navlink--inside{
    display : none;
  }

  .smalldevice_navicon{
    display : block;
  }

  .service__container{
    width : auto;
    .reset_clearfix();
  }

  .service__2by2{
    .clearfix();
    width         : 514px;
    margin-left   : auto;
    margin-right  : auto;
    margin-bottom : 12px;
  }

  .servicedetail--2{
    margin-right : 0;
  }

  .shop__below_container{
    width : auto;
    .reset_clearfix();
  }

  .googlemap, .shopimg{
    float        : none;
    margin-left  : auto;
    margin-right : auto;
    max-width    : 100%;
  }
}

@media screen and (max-width : 575px){
  .service__2by2{
    .reset_clearfix();
    width         : auto;
  }

  .servicedetail{
    float         : none;
    margin-left   : auto;
    margin-right  : auto;
    margin-bottom : 12px;
  }
}
