/*
 * AROMATIC TOKYO BLOOM サイトメインスタイルシート
 *
 * クラス名はBEMで命名すること。
 * http://blog.ruedap.com/2013/10/29/block-element-modifier
 * [Example]
 *   block
 *   block__element
 *   block__element--modifier
 *   block--modifier
 *   block--modifier__element
 */
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: normal;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.reset_clearfix:after {
  content: "";
  clear: none;
  display: none;
}
.body {
  width: 100%;
  max-width: 3000px;
  margin: 0 auto;
  font-family: "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", Meiryo, "メイリオ";
  color: #00305c;
  line-height: 3;
  letter-spacing: 0.1em;
  background-color: #fafafa;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
.tw-cen-mt {
  font-family: "Tw Cen MT";
  font-weight: normal;
}
.tw-cen-mt-bold {
  font-family: "Tw Cen MT";
  font-weight: bold;
}
.header {
  padding: 0 3%;
  height: 68px;
  background-color: #00305c;
}
.header:after {
  content: "";
  clear: both;
  display: block;
}
.logo {
  float: left;
  width: 333px;
  height: 52px;
  line-height: 52px;
  margin: 8px 0 0 -17px;
  padding: 0;
}
.nav {
  float: right;
}
.nav:after {
  content: "";
  clear: both;
  display: block;
}
.navlist {
  margin: 0;
  padding: 0;
  float: left;
}
.navlist:after {
  content: "";
  clear: both;
  display: block;
}
.navlink {
  float: left;
  list-style: none;
  padding: 0;
}
.navlink--inside {
  margin: 26px 28px 0 0;
  height: 16px;
  line-height: 16px;
}
.navlink--outside {
  margin: 8px -20px 0 6px;
  line-height: 52px;
  height: 52px;
}
.navlink__a {
  color: #e6e6e6;
  font-size: 16px;
  letter-spacing: 2.5px;
  text-decoration: none;
}
.smalldevice_nav {
  float: right;
  position: relative;
}
.smalldevice_navicon {
  display: none;
  margin-top: 10px;
  cursor: pointer;
}
.smalldevice_navlist {
  background-color: #00305c;
  margin: 0;
  position: absolute;
  top: 53px;
  left: -66px;
  padding: 0;
  list-style: none;
  display: none;
}
.smalldevice_navlink {
  padding-left: 18px;
  width: 100px;
}
.smalldevice_navlink__a {
  display: block;
  color: #e6e6e6;
  font-size: 16px;
  text-decoration: none;
}
.eyecatch_heading {
  margin: 0;
  padding: 0;
}
.article_heading {
  margin: 0 0 60px;
  padding: 0;
  font-size: 40px;
  line-height: 1;
}
.article_heading--about:before {
  content: "";
  display: block;
  position: relative;
  top: 41px;
  left: 2px;
  margin: 0 auto;
  width: 120px;
  height: 2px;
  background: #00305c;
  /* 下線の色になる */
}
.article_heading--message:before {
  content: "";
  display: block;
  position: relative;
  top: 45px;
  left: 1px;
  margin: 0 auto;
  width: 160px;
  height: 2px;
  background: #00305c;
  /* 下線の色になる */
}
.article_heading--service:before {
  content: "";
  display: block;
  position: relative;
  top: 41px;
  left: 0;
  margin: 0 auto;
  width: 132px;
  height: 2px;
  background: #00305c;
  /* 下線の色になる */
}
.article_heading--shop:before {
  content: "";
  display: block;
  position: relative;
  top: 45px;
  left: 1px;
  margin: 0 auto;
  width: 110px;
  height: 2px;
  background: #00305c;
  /* 下線の色になる */
}
.article_heading__about {
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #00305c;
}
.article_heading__about:before {
  content: "";
  display: block;
  position: relative;
  top: 1.25em;
  /* 下線になるよう適当に位置調整 */
  left: -4%;
  /* テキストの左端に位置させる */
  width: 110%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
  height: 2px;
  background: #00305c;
  /* 下線の色になる */
}
.article_heading__message {
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #00305c;
}
.article_heading__message:before {
  content: "";
  display: block;
  position: relative;
  top: 1.35em;
  /* 下線になるよう適当に位置調整 */
  left: -4%;
  /* テキストの左端に位置させる */
  width: 110%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
  height: 2px;
  background: #00305c;
  /* 下線の色になる */
}
.article_heading__service {
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #00305c;
}
.article_heading__service:before {
  content: "";
  display: block;
  position: relative;
  top: 1.25em;
  /* 下線になるよう適当に位置調整 */
  left: -4%;
  /* テキストの左端に位置させる */
  width: 110%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
  height: 2px;
  background: #00305c;
  /* 下線の色になる */
}
.article_heading__shop {
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #00305c;
}
.article_heading__shop:before {
  content: "";
  display: block;
  position: relative;
  top: 1.35em;
  /* 下線になるよう適当に位置調整 */
  left: -11%;
  /* テキストの左端に位置させる */
  width: 125%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
  height: 2px;
  background: #00305c;
  /* 下線の色になる */
}
.about {
  margin: 185px 0;
  text-align: center;
  font-weight: bold;
}
.about p {
  margin: 32px 0 0;
}
.message {
  background-color: #eae6e3;
  text-align: center;
  padding: 1px 0;
}
.message_line {
  height: 6px;
  margin: 0;
  padding: 0;
  border: none;
  background-repeat: repeat-x;
}
.message_line--top {
  background-image: url("../image/service_top.png");
}
.message_line--bottom {
  background-image: url("../image/service_bottom.png");
}
.message__text {
  margin: 70px 0 0;
  padding: 0;
}
.message__square {
  margin: 29px 2%;
  border: 4px solid #00305c;
  padding: 120px 0;
}
.service {
  text-align: center;
  margin: 185px 0 0;
}
.service__text {
  font-size: 14px;
  font-weight: bold;
  margin: 53px 0 0;
  line-height: 2.5;
}
.service__container {
  margin: 70px auto 100px;
  width: 1056px;
}
.service__container:after {
  content: "";
  clear: both;
  display: block;
}
.servicedetail {
  font-size: 12px;
  margin: 0 28px 0 0;
  width: 243px;
  height: 388px;
  color: #ffffff;
  line-height: 1.4;
  float: left;
}
.servicedetail--1 {
  background-color: #ca9664;
}
.servicedetail--2 {
  background-color: #8d9eac;
}
.servicedetail--3 {
  background-color: #74ab9e;
}
.servicedetail--4 {
  background-color: #5a96b4;
  margin: 0;
}
.servicedetail__heading {
  margin: 17px;
  line-height: 1;
  font-size: 20px;
  letter-spacing: 3.5px;
}
.servicedetail__heading:before {
  content: "";
  display: block;
  position: relative;
  top: 29px;
  left: 1px;
  margin: 0 auto;
  width: 190px;
  height: 1px;
  background: #ffffff;
  /* 下線の色になる */
}
.servicedetail__text {
  margin: 13px 19px 0;
  text-align: left;
  letter-spacing: 1.66px;
}
.shop {
  padding: 85px 0 200px;
  background-color: #eef0f1;
  text-align: center;
}
.weight_normal {
  font-weight: normal;
}
.shop__name {
  font-size: 20px;
  margin: 0 0 30px;
  letter-spacing: 3px;
}
.shop__text {
  font-size: 14px;
  line-height: 2.5;
  font-weight: bold;
}
.shop__below_container {
  width: 1082px;
  margin: 65px auto 0;
}
.shop__below_container:after {
  content: "";
  clear: both;
  display: block;
}
.googlemap {
  width: 541px;
  height: 541px;
  float: left;
}
.footer {
  background-color: #00305c;
  text-align: center;
  color: #e6e6e6;
  font-family: Helvetica, Arial;
  padding: 1px 0 43px;
}
.fb {
  margin: 36px 0 0;
}
.address {
  font-size: 20px;
  line-height: 2;
  margin: 12px 0 0;
}
.address a {
  color: #5cdeef;
}
.address__content {
  margin-right: 16px;
}
.address__content:last-child {
  margin-right: 0;
}
.copyright {
  margin: 18px 0 0;
  line-height: 2;
}
.copyright__small {
  font-size: 12px;
}
@media screen and (max-width: 1082px) {
  .header {
    height: auto;
    padding-bottom: 7px;
    padding-top: 1px;
  }
  .navlink--outside {
    margin-left: 0;
  }
  .navlink--inside {
    display: none;
  }
  .smalldevice_navicon {
    display: block;
  }
  .service__container {
    width: auto;
  }
  .service__container:after {
    content: "";
    clear: none;
    display: none;
  }
  .service__2by2 {
    width: 514px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }
  .service__2by2:after {
    content: "";
    clear: both;
    display: block;
  }
  .servicedetail--2 {
    margin-right: 0;
  }
  .shop__below_container {
    width: auto;
  }
  .shop__below_container:after {
    content: "";
    clear: none;
    display: none;
  }
  .googlemap,
  .shopimg {
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .service__2by2 {
    width: auto;
  }
  .service__2by2:after {
    content: "";
    clear: none;
    display: none;
  }
  .servicedetail {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }
}
